 #wrapper {
     padding-left: 0;
     overflow-y:none; //THIS -> ADD
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     max-width:100%;  //THIS -> ADD
 }
 #wrapper.toggled #page-content-wrapper {
     position: absolute;
     margin-right:-250px; //THIS -> REMOVE
 }

 .sidebar{
     width:25rem;
     position:fixed;
     background:#fff;
     -webkit-box-shadow:0 0.125rem 0.8rem rgba(0,0,0,0.1);
     box-shadow:0 0.125rem 0.8rem rgba(0,0,0,0.1);
     -webkit-transition:all 0.2s;
     transition:all 0.2s;
  }

body {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.top-sidebar-menu {
  padding-top: 0px;
}



.sidebar-link.active,.sidebar-link:focus{
    background:#8c1515;
    color:#fff !important;
    text-decoration:none
}



.img-thumbnail {
    padding: .25rem;
    width: 25em;
    border: 1px solid #fff;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: .5rem;
}

.page-container {
    position: relative;
}

.pageheader {
    position: relative;
    padding: 60px 0 45px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
}



.btn-hamburger:active{
  border-color: #ddd;
  background-color: #f5f5f5;
  border-radius: 8px;
  border-style: solid;
  border-width:1px;
}

.btn-hamburger{
  border-color: #ddd;
  background-color: #f5f5f5;
  border-radius: 8px;
  border-style: solid;
  border-width:1px;
}

.btn-sidebar{
    margin-bottom:5px;
    margin-left: 0px;
    line-height:1.5;
    border-radius:0rem;
    background-color:#b6b1a9;
    border-color:#b6b1a9;
    color:#8c1515;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
}

.btn-secondary:hover{
    color:#fff;
    background-color:#928b81;
    border-color:#928b81
}


.headercontent .title {
    font-size: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px 0;
}

.headercontent .subtitle {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 5px 0;
}

.headercontent .subtitle h3 {
    margin: 0;
    padding: 0;
}

.page .section {
    padding: 70px 0;
    position: relative;
}

.section-container {
    padding: 0 10%;
}

.color-1 {
    background: #fcfcfc;
}

.color-2 {
    background: #f7f7f7;
}

.color-3 {
    background: #2c2c2d;
    color: #fff;
}

.color-4 {
    background: #000;
}

.section .title {
    border-bottom: 1px solid #ccc;
    margin: 0 0 30px 0;
    padding: 20px 0;
}

.section .title h3 {
    padding: 0;
    margin: 0;
    font-size: 26px;
}


.biothumb{position: relative;}
.biothumb .overlay{
    position: absolute;
    width: 100%;
    color:#fff;
    bottom: 0;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
    padding:5;
}
.biothumb .overlay h1{
    font-size: 45px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-group {
  margin-bottom: 0rem;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 1rem;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #ddd;
  margin-top:2rem;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}


.footer {
  position: relative;
  margin-top: 0px; /* negative value of footer height */

  clear:both;
  padding-top:20px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}


/* SIDEBAR */
#wrapper {
    padding:0;
    margin:0;
    overflow-y:none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-width:100%;
}

#wrapper.toggled {
    padding-left: 250px;
    max-width:100%;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    top:0;
    bottom:0;
    width: 0;
    min-height: 100%;
    margin-bottom:0;
    margin-left: -280px;
    margin-right:0;
    overflow-y: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background:#fff;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
    /*min-height:100%;*/
}

#page-content-wrapper {
    max-width: 100%;
    position: absolute;
    padding: 0px;
    margin:0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
}

/* Sidebar Styles */

.sidebar-nav {
    position: relative;
    top: 0;
    left:0;
    width: 400px;
    height:100%;
    background:#000;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 350px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#logo {
    margin-top:2rem;
    margin-bottom:2rem;
}

a, a:hover, a:focus {
    color:#8c1515;
}

.clickable{
    cursor: pointer;
}

.panel_expander{
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
}

.expand_dots{
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
}

.material-icons.md-expand { font-size: 30px; }


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .accordion:hover {
  background-color: #ccc;
} */

/* Style the accordion panel. Note: hidden by default */
.panel-research {
    padding: 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

.panel-text {
  padding: 10px 18px 10px;
}

.research-accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.research-accordion.active:after {
  content: '\2796';
}

.list-group-item {
  padding: 0.5rem 0.5rem;
  border-color: #ddd;
}

.list-group{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
}

.list-group-item-text{
  margin-bottom: 0.25rem;
  color: #212529;
  font-size:15px;
}

@media (max-width:629px) {
  img#optionalstuff {
    display: none;
  }
}
