/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}
    
/* Set gray background color and 100% height. Fixed sidebar */
.sidenav {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 20%; 
    min-height: 150vh;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}


/* Text and backgrounds -- smaller if small screen */ 
body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #F8F8F8; 
    overflow-y: scroll; /* Show vertical scrollbar */
  }
.about-well{
    font-size: 18px;
}

@media screen and (max-width: 767px) {
  .about-well{font-size:16px;}
  .body{font-size:14px;}
}


/* standardize coloring of many elements */ 
.about-well, .navbar, .sidenav {
    background-color: #fff;
}


 /* Margin for side bar */ 
.main-content{
    margin-left:22%;
    margin-right:2%;
}
@media screen and (max-width: 767px) {
    .row.content {height: auto;} 
    .main-content{margin-left:0%;}
  }

/* Sidebar */
.img-thumbnail {
    padding: .25rem;
    width: 10em;
    border: 0px solid #fff;
    max-width: 100%;
    height: auto;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #8c1515;
    text-decoration:none
}
.nav-pills>li>a {
    border-radius: 0px;
}

.sidebar-link {
    color: #6c757d!important;
    text-decoration: none;
}

  /* Panel colors */ 
  .panel-default {
    border-color: #ddd;
    margin-top:2rem;
  }
  .panel-default > .panel-heading {
    color: #333333;
    background-color: #fff;
    border-color: #ddd;
  }
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
  }
  .panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333333;
  }
  .panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
  }
  .panel-research {
    background-color: #fff;
    border-bottom-left-radius:0.5em;
    border-bottom-right-radius:0.5em;
  }

  /* Headers */ 
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

h3 {
  margin-top: 0px;
}

/* Top title -- less margin on small screen */ 
.top-title {
    border-bottom: 0px solid #ccc;
    margin: 0 0 10px 0;
    padding: 25px 0 10px 0;
}

@media screen and (max-width: 767px) {
    .top-title{padding: 0 0 10px 0;}
  }

/* Image on main page */
.img-responsive {
    display: block;
    height: auto;
    max-width: 85%;
    border-radius: 0.5rem;
    margin: auto;    
}
/* Padding if small screen */ 
@media screen and (max-width: 767px) {
    .img-responsive{padding: 10px 0 0 0; margin-bottom: 30px; }
  }


/* Nav-bar styling */ 
.navbar{
    margin-bottom:0px;
}

.navbar-toggle{
    border:#fff; 
    border-radius:0.5px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* Link color */ 
a, a:hover, a:focus {
    color:#8c1515;
}

/* List group coloring */
.list-group-item{
  border: 0px; 
}

.list-group{
  margin-bottom: 0px; 
}

/* New labels */ 
.label-new {
  background-color: slategrey;
  font-size:60%;
  padding: 0.2em 0.4em 0.2em; 
  vertical-align: middle;
}